@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* common */
body, a{
    font-family: "Montserrat", sans-serif;
    color: black;
    text-decoration: none;
}

.desktop-nav {
    display: flex;
    padding-right: 3vw;
}

.nav-links {
    display: flex;
    padding-right: 1vw;
    align-content: flex-end;
    gap: 1rem;
    list-style: none;
    font-size: 1.5rem;
}

.footer-nav{
    display: flex;
    flex-wrap: wrap;
}

nav {
    justify-content: space-around;
    align-items: center;
}

.logo {
    flex: 1;
}

.logo img {
    height: 7vw;
    padding-left: 5vw;
}

.videos {
    height: 57vw;
}

.videos video {
    width: 100%;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
    padding: 20px;
}

.image {
    flex: 1;
    padding: 5px;
    text-align: right;
    
}

.image img {
    max-width: 100%;
    height: 30vw;
    border-radius: 50%;
}

td {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    height: 5vh;
    width: 20vw;
}

.contact {
    align-content: flex-start;
    text-align: right;
    align-items: right;
}

.map-container {
    text-align: right;
    align-items: right;
    border-radius: 10rem;
    align-content: flex-end;
    border:0;
    border-color: white;
    border-radius: 1rem;

}

.about-container {
    align-items: center;
    text-align: center
}

/* contact */
.contact-email {
    text-align: center;
    padding: 5px;
    border: solid black;
    border-radius: 1rem;
}

.contact-form-div {
    display: flex; 
    justify-content: center;
}

button {
    border-radius:2rem;
    border: solid #000000;
    background-color: rgb(21, 214, 228);

}

input, textarea {
    border-radius:10px;
    border: 3px solid #000000;
}

.form-inputs {
    justify-content: center
}


/* about me */
i {
    font-size: 10vw;
}

.project-box {
    padding: 10px;
}

.project-1 {
    width: 15vw;
}

.project-2, .project-3 {
    width: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;

}
